@use 'variables' ;

body {
    width: 100%;
    background-color: variables.$bg;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

img {
    max-width: 200px;
}

div {
    color: darkblue;
    font-size: 24px;

    button {
        display: block;
        font-size: 1.2rem;
        margin: 0 auto;
    }
}